<html>
  <body>
	<div id="babble"><%= terms %></div>
	<div id="title"><%=title %></div><br>
	<div id="summary"><%= summary %></div><br>
	<div id="info"><%= info %></div>
	<div id="link"><%= link %></div>
  </body>
</html>